---
import {
	getPodcastDetails,
	getPodcastHosts,
	getEpisodeList,
	getSocialLinks,
	PodcastHost,
	PodcastSocialLinks,
} from "../lib/getstrapi";

import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import SocialMediaLinks from "../components/SocialMediaLinks.astro";

const podcastDetails = await getPodcastDetails();
const hosts = await getPodcastHosts();
const episodeList = await getEpisodeList();
const socialLinks = await getSocialLinks();

const headerImageLarge = podcastDetails.podcastHeaderImageLarge;
const headerImageMedium = podcastDetails.podcastHeaderImageMedium;
const defaultThumbnail = podcastDetails.podcastDefaultThumbnail;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{podcastDetails.podcastName}</title>
	</head>
	<body>
		<Navbar />
		<Header
			headerImage={headerImageLarge}
			podcastName={podcastDetails.podcastName}
		/>
		<SocialMediaLinks socialLinks={socialLinks} />
		<h1>{podcastDetails.podcastName}</h1>
		<p>{podcastDetails.podcastDescription}</p>
		<ul>
			{
				hosts.map((host: PodcastHost) => (
					<li>
						<h2>{host.hostName}</h2>
						<p>{host.hostBio}</p>
					</li>
				))
			}
		</ul>

		<ul>
			{episodeList.map((episode: any) => <li>{episode.episodeName}</li>)}
		</ul>

		<ul>
			{
				Object.keys(socialLinks as PodcastSocialLinks).map((s: string) => (
					<li>
						{s}: {s in socialLinks ? socialLinks[s] : "Nothing"}
					</li>
				))
			}
		</ul>
	</body>
</html>
