---
import {
	getPodcastDetails,
	getPodcastHosts,
	getEpisodeList,
	getSocialLinks,
	PodcastHost,
	PodcastSocialLinks,
} from "../lib/getstrapi";

import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import SocialMediaLinks from "../components/SocialMediaLinks.astro";
import HostList from "../components/HostList.astro";
import EpisodeList from "../components/EpisodeList.astro";

const podcastDetails = await getPodcastDetails();
const hosts = await getPodcastHosts();
const episodeList = await getEpisodeList();
const socialLinks = await getSocialLinks();

const headerImageLarge = podcastDetails.podcastHeaderImageLarge;
const headerImageMedium = podcastDetails.podcastHeaderImageMedium;
const defaultThumbnail = podcastDetails.podcastDefaultThumbnail;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{podcastDetails.podcastName}</title>
	</head>
	<body class="bg-indigo-50 text-slate-800">
		<Navbar />
		<Header
			headerImage={headerImageLarge}
			podcastName={podcastDetails.podcastName}
		/>
		<main class="scroll-smooth">
			<div class="px-4 mx-auto lg:w-3/4">
				<SocialMediaLinks socialLinks={socialLinks} />

				<!-- intro paragraph  -->
				<p id="about" class="text-lg my-4 font-semibold">
					{podcastDetails.podcastDescription}
				</p>

				<HostList hosts={hosts} />
				<EpisodeList episodeList={episodeList} />
			</div>
		</main>
	</body>
</html>
