---
import {
	getPodcastDetails,
	getPodcastHosts,
	getEpisodeList,
	PodcastHost,
} from "../lib/getstrapi";

const podcastDetails = await getPodcastDetails();
const hosts = await getPodcastHosts();
const episodeList = await getEpisodeList();

const headerImageLarge = podcastDetails.podcastHeaderImageLarge;
const headerImageMedium = podcastDetails.podcastHeaderImageMedium;
const defaultThumbnail = podcastDetails.podcastDefaultThumbnail;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{podcastDetails.podcastName}</title>
	</head>
	<body>
		<img
			src={headerImageLarge.url}
			height={headerImageLarge.height}
			width={headerImageLarge.width}
			alt={headerImageLarge.alternativeText}
		/>
		<h1>{podcastDetails.podcastName}</h1>
		<p>{podcastDetails.podcastDescription}</p>
		<ul>
			{
				hosts.map((host: PodcastHost) => (
					<li>
						<h2>{host.hostName}</h2>
						<p>{host.hostBio}</p>
					</li>
				))
			}
		</ul>

		<ul>
			{episodeList.map((episode: any) => <li>{episode.episodeName}</li>)}
		</ul>
	</body>
</html>
