---
import {
	getPodcastDetails,
	getPodcastHosts,
	PodcastHost,
} from "../lib/getstrapi";

const podcastDetails = await getPodcastDetails();
const headerImage = podcastDetails.podcastHeaderImage;
const thumbnail = podcastDetails.podcastDefaultThumbnail;
const hosts = await getPodcastHosts();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{podcastDetails.podcastName}</title>
	</head>
	<body>
		<img
			src={headerImage.url}
			height={headerImage.height}
			width={headerImage.width}
			alt={headerImage.alternativeText}
		/>
		<h1>{podcastDetails.podcastName}</h1>
		<p>{podcastDetails.podcastDescription}</p>
		<ul>
			{
				hosts.map((host: PodcastHost) => (
					<li>
						<h2>{host.hostName}</h2>
						<p>{host.hostBio}</p>
					</li>
				))
			}
		</ul>
	</body>
</html>
